/**
	* Contact Object
	*/

.actions {
	text-align: center;
}

.id {
	text-align: center;
}

.name {
	min-width: 80px;
}

.contact__item,
.contact-headers__item {
	width: 25%;
	align-self: center;
}

.contact {
	position: relative;
	background: white;
	padding: 0.7em;
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 0 transparent;
	transform: scale(1);
	transition: 0.1s;

	&:hover {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 -1px 1px rgba(0, 0, 0, 0.1);
		transform: scale(1.02);
		z-index: 2;
		transition: 0.25s;
	}
}

.contact-headers {
	padding: 1em 0.7em 0.5em;
	border-bottom: 1px solid #dedede;
	font-weight: 700;
}

.search-wrapper {
	text-align: right;
}
