/**
	* Modals
	*/

.modal__open {
	overflow: hidden;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal.fade .modal__dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal.in .modal__dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal__open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal__dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal__content {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: $radius;
	@include shadow(3);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
}

.modal__backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000000;
}

.modal__backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}

.modal__backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.modal__header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal__header .close {
	margin-top: -2px;
}

.modal__title {
	margin: 0;
	line-height: 1.42857143;
}

.modal__body {
	position: relative;
	padding: 15px;
}

.modal__footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.modal__footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0;
}

.modal__footer .btn-group .btn + .btn {
	margin-left: -1px;
}

.modal__footer .btn-block + .btn-block {
	margin-left: 0;
}

.modal__scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media (min-width: 768px) {
	.modal__dialog {
		width: 600px;
		margin: 30px auto;
	}

	.modal__content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}

	.modal__sm {
		width: 300px;
	}
}

@media (min-width: 992px) {
	.modal__lg {
		width: 900px;
	}
}

.clearfix:before,
.clearfix:after,
.modal__header:before,
.modal__header:after,
.modal__footer:before,
.modal__footer:after {
	content: " ";
	display: table;
}

.clearfix:after,
.modal__header:after,
.modal__footer:after {
	clear: both;
}

.modal__input {
	@media (max-width: $tablet) {
		width:100%;
	}
}

@media (max-width: $tablet) {
	.modal__dialog {
		margin: 0;
		height: 100%;
		left: -100vw;
		#addContactModal & {
			left: 100vw;
		}

		#addContactModal.in & {
			left: 0;
			transition: 0.2s;
		}

		.in & {
			left: 0;
			transition: 0.2s;
		}
	}

	.modal__content {
		border: none;
		box-shadow: none;
		height: 100%;
		border-radius: 0;
	}

	.modal__header {
		padding: 19px 15px;
	}

	.modal__input {
		width: 100%;
	}

	.modal__body {
		background: #fafafa;
	}
}
