<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Contacts</title>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>

<body>
	<div id="app">
		<div class="container">
			<header class="header">
				<button style="max-width: 62px;" class="btn btn--transparent header__show-search hidden-lg col" id="showSearch"><i class="fas fa-search fa-lg"></i></button>
				<h1 class="col">Contacts</h1>
				<button style="max-width: 62px;" class="btn--transparent hidden-lg col" data-target="#addContactModal"><i class="fas fa-plus fa-lg"></i></button>
			<div class="search-wrapper-mobile is-hidden">
				<input class="header__search" type="text" placeholder="Search" v-model="search_term" v-on:keyup="getContacts()">
				<span class="header__search-close small" v-on:click="getContacts(true)">Cancel</span>
			</div>
			</header>

			<div class="wrapper">
				<div class="grid hidden-md">
					<div class="row">
						<div class="col">
							<button class="btn btn--success" data-target="#addContactModal">Add Contact</button>
						</div>
						<div class="col search-wrapper">
							<input class="search" type="text" placeholder="Search" v-model="search_term" v-on:keyup="getContacts()">
							<button class="btn" v-on:click.prevent="getContacts()">Search</button>
						</div>
					</div>
				</div>
				<div class="contact-wrapper grid">
					<div class="contact-headers row">
						<div class="contact-headers__item name col">Name</div>
						<div class="contact-headers__item email col">Email</div>
						<div class="contact-headers__item id col">ID</div>
						<div class="contact-headers__item actions col">Actions</div>
					</div>
					<div class="contact row" v-for="contact in contacts">
						<div class="contact__item name-email"  v-on:click="getContact(contact.contact_id)">
							<div class="name col">${contact.contact_name}</div>
							<div class="email col">${contact.contact_email}</div>
						</div>
						<div class="contact__item id col">${contact.contact_id}</div>
						<div class="contact__item actions col">
							<button class="btn btn--danger delete hidden-md" v-on:click="deleteContact(contact.contact_id)">Delete</button>
							<button class="btn edit" v-on:click="getContact(contact.contact_id)">Edit</button>
						</div>
					</div><!-- end for contact in contacts -->
				</div>
				<!-- 'Add Contact' Modal -->
				<div class="modal" id="addContactModal">
					<div class="modal__dialog">
						<div class="modal__content">
							<div class="modal__header">
								<h5 class="modal__title hidden-sm">ADD CONTACT</h5>
								<span class="link hidden-lg" data-dismiss="modal"><i class="fas fa-caret-left"></i> Contacts</span>
							</div>
							<form v-on:submit.prevent="addContact()">
								<div class="modal__body">
									<div class="input-group">
										<label for="contact_name">Name</label>
										<input
										type="text"
										class="form-control modal__input"
										id="contact_name"
										placeholder="Enter Contact Name"
										v-model="newContact.contact_name"
										required="required" >
									</div>
									<div class="input-group">
										<label for="contact_email">Email</label>
										<input
										class="form-control modal__input"
										id="contact_email"
										placeholder="Enter Contact Email"
										v-model="newContact.contact_email"
										required="required">
									</div>
								</div>
								<div class="modal__footer">
									<button type="button" class="btn hidden-md" data-dismiss="modal">Close</button>
									<button id="add_contact" type="submit" class="btn btn--success">Add Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- end add contact modal -->

				<!-- 'Edit Contact' Modal -->
				<div class="modal" id="editContactModal">
					<div class="modal__dialog">
						<div class="modal__content">
							<div class="modal__header">
								<h5 class="modal__title hidden-md">EDIT CONTACT</h5>
								<span class="link" data-dismiss="modal"><i class="fas fa-caret-left"></i> Contacts</span>
							</div>
							<form v-on:submit.prevent="updateContact()">
								<div class="modal__body">
									<div class="input-group">
										<label for="contact_name">Name</label>
										<input
										type="text"
										class="modal__input"
										id="contact_name"
										placeholder="Enter Contact Name"
										v-model="currentContact.contact_name"
										required="required" >
									</div>
									<div class="input-group">
										<label for="contact_email">Email</label>
										<input
											class="modal__input"
											id="contact_email"
											placeholder="Enter Contact Email"
											v-model="currentContact.contact_email"
											required="required">
									</div>
								</div>
								<div class="modal__footer">
								<a href="#" class="link link--danger small" style="float: left; padding-top: 8px" v-on:click.prevent="deleteContact(currentContact.contact_id)">Delete This Contact</a>
									<button type="button" class="btn hidden-md" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn--success" data-dismiss="modal" v-on:click.prevent="updateContact()">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			<!-- end edit contact modal -->
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="{% static 'dist/main.js' %}"></script>
</body>

</html>
