<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Contacts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>

<body>
	<div id="app">
		<div class="container">
			<h1>Contacts</h1>
			<button class="btn" data-target="#addContactModal">ADD CONTACT</button>
			<input class="search" type="text" placeholder="Search" v-model="search_term">
			<button class="btn" v-on:click.prevent="getContacts()">Search</button>
			<div class="contact" v-for="contact in contacts">
				<div class="contact__name">${contact.contact_name}</div>
				<div class="contact__email">${contact.contact_email}</div>
				<div class="contact__id">${contact.contact_id}</div>
				<button class="btn" v-on:click="getContact(contact.contact_id)">Edit</button>
				<button class="btn" v-on:click="deleteContact(contact.contact_id)">Delete</button>
			</div><!-- end for contact in contacts -->

			<!-- 'Add Contact' Modal -->
			<div class="modal" id="addContactModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">ADD CONTACT</h5>
						</div>
						<form v-on:submit.prevent="addContact()">
							<div class="modal-body">
								<label for="contact_name">Name</label>
								<input
								type="text"
								class="form-control"
								id="contact_name"
								placeholder="Enter Contact Name"
								v-model="newContact.contact_name"
								required="required" >

								<label for="contact_email">Email</label>
								<input
								class="form-control"
								id="contact_email"
								placeholder="Enter Contact Email"
								v-model="newContact.contact_email"
								required="required">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
								<button type="submit" class="btn">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end add contact modal -->

			<!-- 'Edit Contact' Modal -->
			<div class="modal" id="editContactModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">EDIT CONTACT</h5>
						</div>
						<form v-on:submit.prevent="updateContact()">
							<div class="modal-body">
								<label for="contact_name">Name</label>
								<input
								type="text"
								class="modal-input"
								id="contact_name"
								placeholder="Enter Contact Name"
								v-model="currentContact.contact_name"
								required="required" >

								<label for="contact_email">Email</label>
								<input
								  class="modal-input"
								  id="contact_email"
								  placeholder="Enter Contact Email"
								  v-model="currentContact.contact_email"
								  required="required">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
								<button type="submit" class="btn" data-dismiss="modal">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end edit contact modal -->

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="{% static 'dist/main.js' %}"></script>
</body>

</html>
