<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Contacts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'dist/style.css' %}">
</head>

<body>
	<div id="app">
		<div class="container">
			<h1>Contacts</h1>
			<div class="wrapper">
			<div class="grid">
				<div class="row">
					<div class="col">
						<button class="btn btn--success" data-target="#addContactModal">Add Contact</button>
					</div>
					<div class="col search-wrapper">
						<input class="search" type="text" placeholder="Search" v-model="search_term" v-on:keyup="getContacts()">
						<button class="btn" v-on:click.prevent="getContacts()">Search</button>
					</div>
				</div>
			</div>
			<div class="contact-wrapper grid">
				<div class="contact-headers row">
					<div class="contact-headers__item name col">Name</div>
					<div class="contact-headers__item email col">Email</div>
					<div class="contact-headers__item id col">ID</div>
					<div class="contact-headers__item actions col">Actions</div>
				</div>
				<div class="contact row" v-for="contact in contacts">
					<div class="contact__item name col">${contact.contact_name}</div>
					<div class="contact__item email col">${contact.contact_email}</div>
					<div class="contact__item id col">${contact.contact_id}</div>
					<div class="contact__item actions col">
						<button class="btn btn--danger edit" v-on:click="deleteContact(contact.contact_id)">Delete</button>
						<button class="btn delete" v-on:click="getContact(contact.contact_id)">Edit</button>
					</div>
				</div><!-- end for contact in contacts -->
			</div>
			<!-- 'Add Contact' Modal -->
			<div class="modal" id="addContactModal">
				<div class="modal__dialog">
					<div class="modal__content">
						<div class="modal__header">
							<h5 class="modal__title">ADD CONTACT</h5>
						</div>
						<form v-on:submit.prevent="addContact()">
							<div class="modal__body">
								<label for="contact_name">Name</label>
								<input
								type="text"
								class="form-control"
								id="contact_name"
								placeholder="Enter Contact Name"
								v-model="newContact.contact_name"
								required="required" >

								<label for="contact_email">Email</label>
								<input
								class="form-control"
								id="contact_email"
								placeholder="Enter Contact Email"
								v-model="newContact.contact_email"
								required="required">
							</div>
							<div class="modal__footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn--success">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end add contact modal -->

			<!-- 'Edit Contact' Modal -->
			<div class="modal" id="editContactModal">
				<div class="modal__dialog">
					<div class="modal__content">
						<div class="modal__header">
							<h5 class="modal__title">EDIT CONTACT</h5>
						</div>
						<form v-on:submit.prevent="updateContact()">
							<div class="modal__body">
								<label for="contact_name">Name</label>
								<input
								type="text"
								class="modal__input"
								id="contact_name"
								placeholder="Enter Contact Name"
								v-model="currentContact.contact_name"
								required="required" >

								<label for="contact_email">Email</label>
								<input
								  class="modal__input"
								  id="contact_email"
								  placeholder="Enter Contact Email"
								  v-model="currentContact.contact_email"
								  required="required">
							</div>
							<div class="modal__footer">
								<button type="button" class="btn" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn--success" data-dismiss="modal">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end edit contact modal -->
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="{% static 'dist/main.js' %}"></script>
</body>

</html>
